.container {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  width: 85%;
  height: 3.1rem;
  border: 2px solid #da0037;
  background: transparent;
  border-radius: 200px;
  font-weight: 700;
  transition: all ease-in-out 300ms;
  user-select: none;
  &:hover {
    background: linear-gradient(45deg, #ff4e00, #da0037);
    transition: all ease-in-out 300ms;
    border: hidden;
  }
  &:active {
    box-shadow: inset 0px 10px 22px -18px rgba(0, 0, 0, 1);
    transform: translateY(2px);
  }
}
