rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if true;
    }
    match /schools/{document=**}{
    	allow read: if true;
    }
    match /users/{userUid}{
    	allow read, write: if request.auth != null && request.auth.uid == userUid;
      allow create: if request.auth != null;
    }
    match /schools/{schoolId}/users/{userUid}{
    	allow read, write, create: if request.auth != null && request.auth.uid == userUid;
    }
  }
}